.slds-modal {
    position: fixed;
    width: 25%;
    margin: auto;
    top: calc(5vh);
    min-width: 20rem;
    max-width: calc(90vw);
    max-height: calc(80vh);
    overflow-y: auto;
}

.slds-modal__header h2 {
    font-family: 'Poppins';
}

.slds-button {
    padding: 9px 22px;
    border-radius: 100px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: solid 2px var(--lwc-dxpGBrand);
    background-color: var(--lwc-dxpGBrand);
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
}

.slds-button.secondary {
    color: var(--lwc-dxpGBrand);
    background-color: white;
}